.slider {
    --basic-color: #e5e5e5;
    --active-color: #53b6a8;
    width: 290px;
    padding: 10px 0;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
}
.slider input {
    position: absolute;
    opacity: 0;
}
.slider__track {
    width: 90%;
    height: 30px;
    position: relative;
    display: flex;
    align-items: center;
}
.track__bar {
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background-color: var(--basic-color);
}
.track__bar_selected {
    position: absolute;
    height: 6px;
    border-radius: 4px;
    background-color: var(--active-color);
    left: 0;
}
.slider__thumb {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: grid;
    align-content: center;
    justify-content: center;
}
.thumb__marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--active-color);
    cursor: pointer;
}
.slider__label {
    width: 90%;
    position: relative;
    font-size: 12px;
}
.label__mark {
    width: 1px;
    height: 4px;
    background-color: var(--active-color);
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
}
.label__mark:before {
    content: attr(data-text);
    padding-top: 5px;
}
.label__mark:nth-child(2) {
    left: 25%;
}
.label__mark:nth-child(3) {
    left: 50%;
}
.label__mark:nth-child(4) {
    left: 75%;
}
.label__mark:nth-child(5) {
    left: 100%;
}
.slider__tag {
    width: 90%;
    position: relative;
    height: 25px;
}
.tag__mark {
    width: 30px;
    height: 20px;
    background-color: var(--active-color);
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: -15px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tag__mark:before {
    content: "";
    position: absolute;
    background-color: var(--active-color);
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    bottom: -2px;
    left: 10px;
    z-index: -1;
}
