.demo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;

  @media (max-width: 650px) {
    grid-template-columns: auto;
    padding: 0;
  }

  &__item {
    width: 100%;
    display: grid;
  }
}
